/* Common Shared Style*/

body{
    font-family: 'lato' sans-serif;
    font-family: 'Open Sans', sans-serif;

}


/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}
.nav-title{
    color: #121212;
    font-size: 45px;
    font-weight: 800;
}
.text-primary{
    color:hsl(39, 100%, 55%);



}
.btn-primary{
    border-radius: 5px;
    background-color: hsl(39, 100%, 55%);
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 35px;

}
nav > ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-right: 50px;
}
/*header related style*/
.header{
    background-color: #fff8f3;
    background-image: url('/webdeveloper-portfolio/images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}
/* Banner style*/
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.banner-content{
    max-width: 500px;

}
.banner.picture{
    width: 500px;
    
}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;

}
.banner-title{
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}
.section-title{
    color: #181818;
    text-align: center;
    text-size-adjust: 35px;
    font-weight: 700;
    line-height: normal;

}
.section-description{
    color: #757575;
    text-align: center;
    font-size: 18px;
    
}

.banner-descripition
    font-size: medium;
    margin-top: 5px;
    font-weight: 700;

}
/* main sections styles*/
main{
    max=width: 1140px;
    margin: 0 auto;
}

/* about section styles*/
.About{
    margin: 130px 0;
    padding: 130px;
    border-radius: 10px;
    background:  #fff8f3
    
}
.about-info-continer{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}

main{
    max-width: 1140px;
    margin: 0px auto;
}
main section{
    margin-top: 130px;
}
#What-i-do-info-description{
    padding: 30px 150px;
}
/* Skill related style*/
.skill-Container{
    display: flex;
    gap: 24px;
    text-align: center;

  
    
    


}
.skill{
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 0px rgba(0,0,0,0.06)  
}
.resume-colum-title{
    color: #474747;
    font-size: 30px;
    font-weight: 700;
}
.resume-container{
    display: flex;
    gap: 50px;
}
.resume-item-instituted,.resumee-item{
    color: #757575;

}
.resume-item-title{
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
.resume-item-instituted{
    margin-bottom: 20px;
    margin-top: 0px;
}
.resume-container hr{
    margin: 30px;
}
.download-cv{
    text-align: center;
}
.footer-cloum{
    width: 50%;
    
}
footer{
    display: flex;
    gap: 100px;
    background: #fff8f3;
    padding: 130px5 200px;
}
.Contact input[type="text"], .Contact input[type="email"],
textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 35px;
    color:#757575;
    border-radius: 5px;
    background: #fff;
    border: 0px;

}
.social-link a{
    margin-right: 25px;
}